services:
  fuseki:
    build:
      context: .
    ports:
      - 3030:3030
    environment:
      - JAVA_OPTIONS=-Xmx2048m -Xms2048m
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3030/$/ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
