name: Release

on:
  release:
    types:
      - published

env:
  JDK_DISTRIBUTION: corretto
  JDK_VERSION: 21

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: ${{ env.JDK_DISTRIBUTION }}
          java-version: ${{ env.JDK_VERSION }}

      - name: Build with Gradle
        run: ./gradlew uberJar

      - name: Upload release asset
        uses: softprops/action-gh-release@v1
        with:
          files: build/libs/*.jar
